
@import url('https: //fonts.googleapis.com/css?family=Jost');
body {
  margin: 0px;
  padding: 0px;
  font-family: "Jost" !important;
}
.css-ph2xsj-MuiTypography-root{
  font-family: "Jost" !important;
}